@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*{
  font-family: 'Kumbh Sans', sans-serif;
  
  
}

html,body{
  margin:0;
  height: 100%;
  overflow-x: hidden  ;
  }

.row{
  display: flex;
}


.sidebar-container{
  height: 100%;
  display:flex;
  min-height: 100vh;
  align-items: center;
  background-color: plum;

}
.nav-text{
  text-decoration: none;
  color: azure;
  display: block;
  padding: 11px;
  text-align: center;
  transition:350ms;
  
}
.nav-label{
  color: black;
}
.nav-text:hover{
  background-color: rgb(122, 7, 113);
  
}
.active{
  border-right:2px solid rebeccapurple;
  background-color: rgb(243, 243, 243);
  opacity: 0.3;
}
.nav-icons{
  color: purple;
  font-size: 30px;
}
.text-primary{
  color: purple !important;
}
.nav-icons:hover{
  color: rgb(243, 243, 243);
  
}
.navbar{
  height: 100%;
  justify-content: flex-start;
  flex-direction: column !important;

}
.avatar{
  width: 240px;
  height: 250px;
  border-radius:100%;
  position: relative;
  top:100px;
  animation: rotate;
  animation-duration: 3s;
  
  z-index: -99;
  animation-iteration-count: infinite;
}
.hero-container{
  
  height: 100vh;
  animation: fade;
  animation-duration: 4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.hero-container h1{
  font-size: 100px;
  margin-top: 15%;
  color: plum;
 
  
}
@keyframes fade {
  from {opacity:0}
  to {opacity: 1;}
}
@keyframes rotate {
  from {transform:rotate(0deg)}
  to {transform:rotate(359deg)}
}
.hero-container h2{
  font-size: 80px;
  color: purple;
  
}
.hero-container h3{
  font-size: 20px;
  color: palevioletred;
  
}

.project-container{
  height: 100%;
  
}
.project-hero{
  position: relative;
  top:10%;
  animation:fade;
  animation-duration: 4s;
}
.app-image{
  height: 100%;
  width: 30%;
  margin: 0.2%;
  transition: 250ms;
  }
.app-image:hover{
    transform: scale(1.4);
}
.skill-container{
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  
  margin-top:2%;
  margin-left: 2%;
  height: 100px;
  width: 30%;

}
.progress-bar{
  background-color: purple;
}

@media  only screen and (max-width:650px) {
  .row{
    flex-direction: column-reverse;
  }
  #contact-form{
    flex-direction: column !important;
  }
  .navbar{
    flex-direction: row !important;
    height:fit-content;

  
  }
  .sidebar-container{
    position: fixed;
    height: fit-content;
    min-height: fit-content;
    bottom: 0;
    z-index: 99;
    

   
  }
  .skill-container{
    width: 100%;
    margin-left: 0;
  }
}
